<!-- TODO: must make a active if on the page -->

<header>
    <div>
        <ul>
            <li>
                <a class="nav-tag" routerLink="/">Home</a>
            </li>
            <li>
                <a class="nav-tag" routerLink="/videos">Video Gallery</a>
            </li>
            <li>
                <a class="nav-tag" routerLink="/images">Image Gallery</a>
            </li>
        </ul>
    </div>
    <button class="sign-in">
        <a routerLink="/sign-in">Sign In</a>
    </button>
</header>
