
<header>
    <div>
        <ul>
            <li>
                <a class="nav-tag" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li>
                <a class="nav-tag" routerLink="/videos" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Video Gallery</a>
            </li>
            <li>
                <a class="nav-tag" routerLink="/images" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Image Gallery</a>
            </li>
        </ul>
    </div>
    <button class="sign-in">
        <a routerLink="/sign-in">Sign In</a>
    </button>
</header>
